/*---------------
MOBILE FIRST
-----------------*/

header, section, footer, aside, nav, mai, article,figure {
   display: block;
}  

body {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    
}

img {
    width: 100%;
    display: block;
}

p {
    color: #4a525f;
    margin: 0;

}

/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

#logo p {
 display: block;
    position: absolute;
    width: 100%;
    top:1%;
    color: #ffffff;
    font-size: 2.2em;
    font-style: italic;
    font-weight: bold;
}

/* TOP MENU */

ul {
     width: 100%;
    padding: 0;
    list-style: none!important;
    
    }

li {
 text-align: center;
    padding: 5px;
    background-color: #4a525f;
    font-style: italic;
    border-bottom: 2px solid #ffffff;
    
}

li,li a{
    text-decoration: none;
    color: #ffffff;
}

li:hover, li a:hover {
    background-color: #393535;
    
}


/* TOP MENU END */

header {
    position: relative;
    
}

header p {
    position: absolute;
    bottom: 60%;
    width: 100%;
    text-align: center;
    color: #ffffff;
    font-size: 1.6em;
}

#apply-btn {
    position: absolute;
    bottom: 50%;
}

#apply-btn a{
    padding: 2px;
    text-decoration: none;
    background-color: #ec008c;
    color: #ffffff;
    border-radius: 5px;
}


.row1-1 {
    width: 100%;
    float: left;
    margin-bottom: 2%;
    
}

.buttons {
    width: 30%;
    float: left;
    padding-left: 2.5%;
    text-align: center;
        
}

.buttons a {
    text-decoration: none;
    
}

.row1-2 {
    width: 100%;
    background-color: #E0E0EB;
    font-size: 1.6em;
    text-align: center;
    padding: 4% 0 4% 0;
    display: inline-block;
}

.row2 {
    background-color: #A864A8;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.row2 img {
    width: 40%;
    display: inline-block;
}

.row2 p {
    font-size: 1.4em;
    padding-top: 3%;
    color: #ffffff;
}

.row3-1 {
    display: inline-block;
    width: 100%;
    background-color: #E0E0EB;
    font-size: 1.6em;
    text-align: center;
    padding: 4% 0 4% 0;
    
}

.highlighted a {
 text-decoration: underline;
    color: #EC008C;
    
}

.copy {
    text-align: center;
    padding-bottom: 2%;
    background-color: #ffffff;
}


/*---------------
DEVICES >600px
-----------------*/


@media screen and (min-width: 600px) {
    
    /* top menu */
    
    header nav ul {
        position: absolute;
        top: 8%;
        text-align: center;
        background-color: #ffffff;
    }
    
    header li, li a {
        display: inline-block;
        background-color: transparent;
        color: #4a525f;
        border-right: 1px solid #4a525f;
        border-bottom: none;
        
    }
    
     header li:hover, li a:hover {
      background-color: #d8cccc;   
     }
    header li:last-child, li a:last-child {
        border-right: none;   
     }
    
    /* TOP MENU END */
    
    header p {
     bottom: 40%;
        font-size: 2em;
        
    }
    
    #apply-btn {
        bottom: 30%;   
    }
    
    /* FOOTER MENU */
    
    footer ul {
        text-align: center;
        background-color: #8393CA;
        margin: 0;
    }
    
    footer li, li a {
        display: inline-block;
        background-color: transparent;
        border-right: 1px solid #4a525f;
        border-bottom: 0;
    }
    
   footer li:hover, li a:hover {
        border-right: #d8cccc;
    }
    
    footer li:last-child, li a:last-child {
        border-right: none;
    }
    
    /* FOOTER MENU END */
    
    .row1-1 {
        width: 50%;
        margin-top: 2%;
    }
    
    .row1-2 {
        width: 50%;
        font-size: 2em;
        background-color: #ffffff;
        
    }
    
    .row2 p {
        font-size: 2em;   
    }
    
    .sarah, .tom {
        width: 50%;
        float: left;
        padding-bottom: 2%;
    }
    
    .row3-1 {
        font-size: 2em;
        width: 50%;
        background-color: #ffffff;
        float: left;
        padding-top: 11%;
        
    }
    
    .row3-2 {
        width: 50%;
        float: left;
    }
    
    .copy {
        padding-top: 2%; /* replaces 2% margin bottom off mobile footer navigation */
        background-color: #E0E0EB;
    }
    
    footer p {
        font-size: 1.2em;   
    }
}


/*---------------
devices >900px
-----------------*/


@media screen and (min-width:900px) {
    
    body {
        max-width: 1100px;   
    }
}

/*TOP MENU */

header nav ul {
    max-width: 1100px;
    background-color: transparent;
    text-align: right;
    top: 1%;
    right: 2%;
}

/* TOP MENU END */

header p {
    font-size: 2.2em;
    font-weight: bold;
    max-width: 1100px;
}

#logo p {
    text-align: left;
    padding-left: 1%;
}


.row1-1 {
    font-size: 1.2em;
}

.row1-2, .row2 p, .row3-1 {
 font-size: 2.5em;   
}

footer p {
    font-size: 1.5em;
}

}